# This is just a template. Create a new file called just .env, and fill the value
# You can obtain the token executing the following command in your wsl
#    docker exec jenkins cat /var/jenkins_home/secrets/initialAdminPassword
JENKINS_HOST=http://localhost:8080
JENKINS_USER=admin
JENKINS_TOKEN= here_goes_the_token
PORT=3001
NODE_ENV=development